{% extends "emails/base.html" %}
{% block content %}
<h2>Réinitialisation de votre mot de passe</h2>
<p>Bonjour {{ user.email }},</p>
<p>Nous avons reçu une demande de réinitialisation de votre mot de passe. Cliquez ci-dessous pour définir un nouveau mot de passe.</p>
<a href="{{ reset_url }}" class="btn">Réinitialiser mon mot de passe</a>
<p>Ou copiez ce lien : <br><small>{{ reset_url }}</small></p>
<p>Ce lien expire dans 1 heure. Si vous n'avez pas effectué cette demande, vous pouvez ignorer cet e-mail.</p>
{% endblock %}